html, body {
  text-align:center;
  height:100%
  width:100%
}
nav ul li{
  list-style:none;
  text-align:left;display:inline-block;
  margin:8px;
  margin-top: 15px;
  margin-bottom:10px;
}
#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
}​
a{
  text-decoration-color: blue;
}

h1 {
  text-align: center;
  padding: 10rem;
}

img{
  height: 30%;
  width: 30%;
}

#welcome-section {
  text-align:center;
  margin-bottom:10px
  height: 100%vp;
  min-height:100px;
  margin-top:13px;
}
#profile-link{
  display:block;
  overflow:hidden;
  text-decoration: none;
  margin: 50px;
}
@media (max-height: 100%)
{

}
